html{
	scroll-behavior: smooth;
}
.background{
	background-image: url("images/background.jpg");
	position:fixed;
	top:0;
	left:0;
	min-width: 100%;
	min-height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.dropdown-link:hover{
    background-color:#F1C40F;
}

.headerset{
	padding-top: 50px;
}
.headerset h1{
	margin-top: 220px;
	font-size: 32px;
	padding: 10px;
	background:rgba(0,0,0,0.6);
}
.headerset h2{
	font-size: 38px;
	font-weight: bold;
	margin-top: -8px;
	padding: 50px;
	background:rgba(0,0,0,0.6);
}
.highlights{
	margin-top: 30px;
}
.highlights h2{
	text-decoration: none;
    border-bottom: 2px solid red;
}
.followus h2{
	text-decoration: none;
    border-bottom: 2px solid red;
}
.article-img{
	height: 200px;
	width: 400px;
	opacity: 1;
	border-radius: 10px;
}
.article-img:hover{
	opacity: 0.5;
}

.article-card {
	padding: 10px;
	border-radius: 15px;
}

/* Contact Sections */
.contact-us {
	margin-top: 100px;
	text-align: center;
}
.contact-us h2{
	margin-top: 25px;
	padding-bottom: 10px;
	text-decoration: none;
    border-bottom: 2px solid red;
}
.contact-icon {
	margin: 10px;
	font-size: 25px;
}
.phone-num {
	margin-bottom: 0;
}
.phone-container {
	margin-bottom: 20px;
}

.summary-box {
	padding-bottom: 30px;
}

.article-title{
	margin-top: 100px;
}
.article-title h4{
	margin-top: 20px;
	padding: 5px;
	font-size: 36px;
	text-decoration: none;
    border-bottom: 2px solid red;
}
.article-content{
	margin-top: 50px;
	margin-bottom: 50px;
}
.row{
	margin-top: 20px;
}

.about {
	margin-top: 100px;
	text-align: center;
}

.about h2{
	margin-top: 25px;
	padding-bottom: 10px;
	text-decoration: none;
    border-bottom: 2px solid red;
}

.about-content{
	margin-top: 50px;
}

.about-content h3{
	font-size: 26px;
}

.contact-me-link {
	text-decoration: none;
	padding: 10px;
}

.contact-me-link a {
	text-decoration: none;
}

.contact-me {
	padding: 20px;;
}

.footer {
	position: fixed;
	text-align: center;
    bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #dc3545;
}

.footer p {
    padding-top: 15px;
	/* margin-top: px; */
	font-size: 12px;
    color: #fff;
}